html{
    font-size: 62.5%;
    font-family: Ubuntu, serif;
}

header{
    color:white;
}
header a{
        text-decoration: none;
        color:white
}
.primary-navigation{
    background-color: black;
}


.primary-menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 0 3rem;
    margin:0;
    list-style: none;

    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.primary-menu a{
    text-decoration: none;
    color:white
}

.primary-menu a:hover{
    font-weight: 700;
}

.primary-menu a:active{
    font-weight: 400;
}

.primary-menu img:hover{
    transform: scale(1.2);
}

.site-nav-logo{
    width: 10rem;
}

.site-list-logo{
    display:none;
    width: 10rem;
}

li {
    font-size: 4rem;
}

@media screen and (min-width: 800px) {
    .primary-menu {
        flex-direction: row;
        gap: 20px;
    }

    li {
        font-size: 2rem;
    }

    .site-nav-logo {
        display: none;
    }

    .site-list-logo {
        display: inline;
    }
}


