html{
    font-size:62.5%;
    font-family:Ubuntu,sens-serif;
}

main{
    margin-top: 10rem;
}

h2 {
    padding-top: 0;
    margin: 0 0 0.75rem;
    font-size: 5rem;
}

p {

    font-size: 3rem;
    color: gray;
    margin-top: 0;
    margin-bottom: 15rem;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
figure,img,h1{

}
.business-overview{
    display:grid;
    grid-template-columns: 75vw;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.business-overview-image{
    width:75vw;

}